/*--------------------------------------------------------GENERALES-------------------------------------------------------*/
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);}

*{
    font-family: Roboto;
    font-weight: 400;
    margin: 0%;}

/*--------------------------------------------------------ELEMENTOS-------------------------------------------------------*/

footer {
    background-color: #00669F;
    bottom: 1095px;
    color: #FFF9F9;
    font-size: 16px;
    padding: 16px;}

main {
    background-image: url(../img/Fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79.4vh;}

main img{
    width: 120px;
    border-radius: 50%;
    bottom: 59%;
    position: absolute;
    right: 47%;
    z-index: 1;}

/*--------------------------------------------------------CLASES----------------------------------------------------------*/

/*--------------------------------------------------------ID's------------------------------------------------------------*/
#main2{
    background-image: url(../img/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20vh;}
    
#cartaParticular{
    background-color: #ffffff;
    border-radius: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 546px;}

#cartaParticular *{
    margin: 23px;
    text-decoration: none;}

#cartaParticular a{
    color: #ffffff;
    text-decoration: none;}

#cartaParticular div{
    background-color: #2C0187;
    box-sizing: border-box;
    height: 8vh;
    margin: 0px;
    padding-top: 5%;
    text-align: center;}


#cartaParticular i{
    color: #CC2424;
    font-size: 30px;
    position: absolute;
    right: 85%;}

#cartaParticular h1{
    margin-bottom: 5%;
    margin-top: 15%;
    text-align: center;}
    
#descuentos {
    background-color: #1CD1B0;
    font-size: 15px;
    padding: 10px;}

#pegada {
    background-color: #00669F;
    box-sizing: border-box;
    font-size: 20px;
    padding: 12px;
    position: sticky;        
    top: 0%;
    z-index: 1;}
    
#pegada h1 {
    color: #ffffff;
    position: relative;
    bottom: 2vh;
    margin-left: 1%;}

#pegada * {
    display: inline-block;}