body{
    margin: 0%;
}
footer{
    align-content: center;
    background-color: #2b7824;
    color: #ffffff;
    padding: 1%;
}

h1{
    text-align: center;
    background-color:#53b54a;
}

h3{
    background-color: #53b54a;
}

img{
    margin-left: 1%;
}

.centrado{
    text-align: center;
}

.contenido{
    margin:0%;
}

.negritaItalic{
    font-weight: bold;
    font-style: italic;
}

.negrita{
    margin-left: 1%;
    font-weight: bold;
}

.tab{
    margin-left:5%;
}

#iconoSuperior{
    width: 150px;
}